
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../public/bg.png);
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 100vh;
  padding: 3% 0;
}

.header {
  margin: 0 auto;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header_logo {
  max-width: 29vw;
  min-height: 3.8vw;
}

.body {
  max-width: 45vw;
  min-height: 42vw;
  background-color: #FFFFFF;
  padding: 4%;
  -webkit-box-shadow: 8px 8px 0px #000000;
          box-shadow: 8px 8px 0px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2vw auto;
}

.plug_lang-nav-button {
  font-weight: 400;
  font-size: 1.8vw;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 1px;
  -webkit-transition: 0.25s all linear;
  -o-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.plug_lang-nav-button:first-child {
  margin-right: 24px;
}

.plug_lang-nav-button:hover {
  border-bottom: 1px solid black;
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.plug_par {
  font-weight: 400;
  font-size: 1.8vw;
  letter-spacing: -0.02em;
  color: #1E1E1E;
}

.plug_subcsr {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr, 1fr;
  grid-template-columns: 2fr, 1fr;
  -ms-grid-rows:  2fr, 1fr;
  grid-template-rows:  2fr, 1fr;
}

.plug_subcsr > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.plug_subcsr > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.plug_subcsr > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.plug_subcsr > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.plug_subcsr > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.plug_subcsr > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.plug_subcsr > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.plug_subcsr > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.plug_subcsr > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.plug_subscr-label {
  font-size: 1.3vw;
  line-height: 22px;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.plug_subscr-input {
  outline: none;
  color: rgba(30, 30, 30, 1);
  font-weight: 400;
  font-size: 2vw;
  line-height: 115%;
  padding: 5% 5% 5% 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #1E1E1E;
  margin-bottom: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 , 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}


.plug_subscr-input::-webkit-input-placeholder {
  color: rgba(30, 30, 30, 0.3);
}


.plug_subscr-input::-moz-placeholder {
  color: rgba(30, 30, 30, 0.3);
}


.plug_subscr-input:-ms-input-placeholder {
  color: rgba(30, 30, 30, 0.3);
}


.plug_subscr-input::-ms-input-placeholder {
  color: rgba(30, 30, 30, 0.3);
}


.plug_subscr-input::placeholder {
  color: rgba(30, 30, 30, 0.3);
}

.plug_subscr-input:focus::-webkit-input-placeholder{
  color: rgba(30, 30, 30, 0.5);
}

.plug_subscr-input:focus::-moz-placeholder{
  color: rgba(30, 30, 30, 0.5);
}

.plug_subscr-input:focus:-ms-input-placeholder{
  color: rgba(30, 30, 30, 0.5);
}

.plug_subscr-input:focus::-ms-input-placeholder{
  color: rgba(30, 30, 30, 0.5);
}

.plug_subscr-input:focus::placeholder{
  color: rgba(30, 30, 30, 0.5);
}

.plug_subscr-button-arrow {
  display: none;
}

.plug_subscr-button {
  font-weight: 400;
  font-size: 1.75vw;
  outline: none;
  border: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  align-self:flex-end;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 5px;
  margin-bottom: 10px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -webkit-transition: 0.25s all linear;
  -o-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.plug_subscr-button:hover{
  border-bottom: 1px solid #1E1E1E;
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.subscribed {
  width: 34vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.subscribed_check {
  height: 2.4vw;
  width: 1.6vw;
  border-bottom: 2.5px solid #FF3E14;
  border-right: 2.5px solid #FF3E14;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.subscribed_par {
  font-weight: 400;
  font-size: 1.75vw;
  letter-spacing: -0.02em;
  color:#FF3E14;
  margin-left: 2.9vw;
}

.footer_link-img:first-child {
  height: 1.9vw;
  width: 5vw;
}

.footer_link-img:last-child {
  height: 3vw;
}

.footer {
  width: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px){
  .app {
    padding: 3% 0;
  }
  
  .header {
    margin: 0 auto;
    width: 80vw;
  }
  
  .header_logo {
    max-width: 60vw;
    min-height: 20vw;
  }
  
  .body {
    max-width: 80vw;
    min-height: 100vw;
    padding: 6%;
    -webkit-box-shadow: 6px 6px 0px #000000;
            box-shadow: 6px 6px 0px #000000;
    margin: 2vw auto;
  }
  
  .plug_lang-nav-button {
    font-weight: 400;
    font-size: 4vw;
  }
  
  .plug_lang-nav-button:first-child {
    margin-right: 24px;
  }
  
  .plug_par {
    font-size: 4vw;
  }
  
  .plug_subscr-input {
    font-size: 3vw;
  }

  .plug_subscr-label {
    font-size: 2.5vw;
  }
  
  .plug_subscr-button {
    font-size: 3vw;
  }
  
  .subscribed {
    width: 70%;
  }
  
  .subscribed_check {
    height: 4.8vw;
    width: 3.2vw;
  }
  
  .subscribed_par {
    font-size: 3vw;
  }
  
  .footer_link-img:first-child {
    height: 3.8vw;
    width: 10vw;
  }
  
  .footer_link-img:last-child {
    height: 6vw;
  }
  
  .footer {
    width: 24vw;
  }
  
}

@media screen and (max-width: 414px) {
  .app {
    padding: 10% 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .header {
    width: 100%;
  }
  
  .header_logo {
    max-width: 77vw;
  }
  
  .body {
    max-width: 91vw;
    min-height: 150vw;
    padding: 8% 4%;
    -webkit-box-shadow: 4px 4px 0px #000000;
            box-shadow: 4px 4px 0px #000000;
    margin: 10% 0;
  }
  
  .plug_lang-nav-button {
    font-size: 5.5vw;
  }
  
  .plug_lang-nav-button:first-child {
    margin-right: 4vw;
  }
  
  .plug_par {
    font-size: 5.5vw;
  }
  
  .plug_subcsr {
    width: 100%;
    max-height: 84px;
  }
  
  .plug_subscr-label {
    font-size: 3.8vw;
    line-height: 22px;
  }
  
  .plug_subscr-input {
    font-size: 5.5vw;
    line-height: 100%;
    padding: 5% 5% 5% 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .plug_subscr-button {
    display: none;
  }

  .plug_subscr-button-arrow {
    display: block;
    background-image: url(../public/arrow.svg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
    outline: none;
    border: none;
    background-color: transparent;
    align-self:flex-end;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    margin: 0 auto 5px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #1E1E1E;
  }
  
  .subscribed {
    width: 82vw;
    padding: 4%;
  }
  
  .subscribed_check {
    height: 18px;
    width: 12px;
    border-bottom: 1.5px solid #FF3E14;
    border-right: 1.5px solid #FF3E14;
  }
  
  .subscribed_par {
    font-weight: 400;
    font-size: 4.44vw;
    margin-left: 7%;
  }
  
  .footer_link-img:first-child {
    height: 5.5vw;
    width: 14.7vw;
  }
  
  .footer_link-img:last-child {
    height: 8.3vw;
  }
  
  .footer {
    width: 34.1vw;
  }

}